.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
*.log
tests/

# Android & Gradle
AgentKernel/.gradle/
AgentKernel/build/
AgentKernel/app/build/
AgentKernel/local.properties
